* {
  font-family: Nunito;
  /* scroll-behavior: smooth; */
}
@font-face {
  font-family: Nunito;
  src: url(../three-portfolio/Fonts/Nunito/Variants/Nunito-Black.ttf);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
main {
  position: absolute;
  color: white;
  height: 2100px;
}

h1 {
  font-size: 5.8rem;
}

.title {
  text-align: center;
  font-size: 6rem;
  font-family: Nunito;
}
.scroller {
  position: fixed;
  height: 1000vh;
  top: 0px;
}